<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>assetpayments</name>
	<displayName><![CDATA[Платежи AssetPayments]]></displayName>
	<version><![CDATA[1.0]]></version>
	<description><![CDATA[Оплата через AssetPayments]]></description>
	<author><![CDATA[AssetPayments]]></author>
	<tab><![CDATA[payments_gateways]]></tab>
	<confirmUninstall><![CDATA[Действительно хотите удалить модуль?]]></confirmUninstall>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>